# Ex13

In [1]:
! pip install --upgrade pip setuptools wheel
! pip install opencv-python
! pip install --upgrade implicit=='0.4.8'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (22.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (65.3.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (0.37.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (4.6.0.66)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from opencv-python) (1.21.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: implicit==0.4.8 in /usr/local/lib/python3.7/dist-packages (0.4.8)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (4.64.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (1.21.6)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.7/dist-packages (from implicit==0.4.8) (1.7.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import scipy
import implicit
import pandas as pd
from implicit.als import AlternatingLeastSquares

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.21.6
1.7.3
0.4.8

#### 데이터 준비와 전처리

In [4]:
rating_file_path='/content/drive/MyDrive/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
data = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(data)
data.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [5]:
# 3점 이상만 남긴다.
data = data[data['ratings']>=3]
filtered_data_size = len(data)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [6]:
# ratings 컬럼의 이름을 counts로 바꾼다.
data.rename(columns={'ratings':'counts'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
data['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [8]:
# 영화 제목을 보기 위해 메타 데이터를 읽어 온다.
movie_file_path='/content/drive/MyDrive/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [9]:
# 인기 많은 영화
movie_count = data.groupby('movie_id')['counts'].count()
movie_count.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: counts, dtype: int64

영화 id 2858이 제일 인기가 많았다. 그렇다면 이 영화의 제목은 무엇일까?

In [10]:
movies.head(2790)

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
2785,2854,Don't Look in the Basement! (1973),Horror
2786,2855,Nightmares (1983),Horror
2787,2856,I Saw What You Did (1965),Thriller
2788,2857,Yellow Submarine (1968),Animation|Musical
2789,2858,American Beauty (1999),Comedy|Drama

제일 인기가 많았던 영화는 'American Beauty'라는 것을 알 수 있다.

영화를 추천 받기 위해서는

사용자 초기 정보 값을 입력해야 한다.

예를 들어, 넷플릭스 가입하는 동시 선호하는 영화를 몇 개 고르는 것과 같은 것이다.

'Back to the Future (1985)','Notting Hill (1999)', 'Toy Story (1995)', 'Titanic (1997)','Negotiator, The (1998)'를 좋아하는 영화로 선택

In [11]:
# Back_to_the_Futre, Toy_Story, Negotiation, Titanic, Notting_Hill

my_favorite = [1270, 2671, 3404, 2058, 1]
my_list = pd.DataFrame({'user_id': [9999]*5, 'movie_id': my_favorite, 'counts': [5]*5})
data = data.append(my_list)
data.tail(10)

         user_id  movie_id  counts    timestamp
1000203     6040      1090       3  956715518.0
1000205     6040      1094       5  956704887.0
1000206     6040       562       5  956704746.0
1000207     6040      1096       4  956715648.0
1000208     6040      1097       4  956715569.0
0           9999      1270       5          NaN
1           9999      2671       5          NaN
2           9999      3404       5          NaN
3           9999      2058       5          NaN
4           9999         1       5          NaN

데이터의 쉽고 용이한 관리를 위해 indexing을 해주겠다.

In [12]:
# 고유한 유저, 영화를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_unique = data['movie_id'].unique()

# 유저, 영화 indexing 하는 코드 idx는 index의 약자이다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

# 인덱싱이 잘 되었는지 확인해 보자. 
print(user_to_idx[9999]) 
print(movie_to_idx[1])

6039
40

In [13]:
# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 보자. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거한다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해준다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해준다. 
temp_movie_data = data['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(data):
    print('movie column indexing OK!!')
    data['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

data

user_id column indexing OK!!
movie column indexing OK!!

    user_id  movie_id  counts    timestamp
0         0         0       5  978300760.0
1         0         1       3  978302109.0
2         0         2       3  978301968.0
3         0         3       4  978300275.0
4         0         4       5  978824291.0
..      ...       ...     ...          ...
0      6039        22       5          NaN
1      6039      1151       5          NaN
2      6039      1626       5          NaN
3      6039       791       5          NaN
4      6039        40       5          NaN

[836483 rows x 4 columns]

### 모델링

In [14]:
# 매트릭스 만들기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['movie_id'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.movie_id)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [15]:
# implicit 라이브러리에서 권장하고 있는 부분이다.
import os
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [16]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=300, regularization=0.01, use_gpu=False, iterations=40, dtype=np.float32)

In [17]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해준다.
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [18]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/40 [00:00<?, ?it/s]

In [19]:
myukim, back_to_the_future = user_to_idx[9999], movie_to_idx[1270]
myukim_vector, back_to_the_future_vector = als_model.user_factors[myukim], als_model.item_factors[back_to_the_future]

In [20]:
myukim_vector

array([-4.56501126e-01,  3.06806058e-01,  4.54944856e-02,  2.38421202e-01,
        4.68992352e-01, -2.68016249e-01, -3.10929954e-01, -4.68259722e-01,
        4.06740606e-01,  4.85203266e-01,  8.32121670e-02, -3.03106099e-01,
       -4.97259945e-01, -6.37964547e-01,  3.04622680e-01, -5.39021969e-01,
       -1.81791767e-01,  6.53210640e-01,  2.00956538e-01,  2.70942561e-02,
        5.17858677e-02, -5.18791936e-02, -2.25053057e-01, -2.61379391e-01,
       -3.42237979e-01,  3.24937791e-01,  4.01372239e-02, -4.50136751e-01,
       -1.09297276e-01,  1.33190215e-01,  2.27736145e-01,  2.18706474e-01,
        2.64959395e-01,  1.40575618e-01, -1.85345877e-02, -1.87499687e-01,
       -2.63763517e-01,  3.41738254e-01,  2.32057929e-01, -6.75173521e-01,
       -5.09611607e-01, -3.82026076e-01,  1.78610846e-01,  1.05862662e-01,
        5.74165322e-02, -9.82424244e-02,  4.49782997e-01, -4.01732475e-01,
       -1.24432132e-01,  2.07048327e-01, -1.41121671e-01, -5.42628288e-01,
       -1.63792133e-01,  1.73317522e-01, -3.57809506e-04,  1.18976966e-01,
        1.04152985e-01, -1.56004801e-01,  8.85065049e-02,  4.25262213e-01,
       -1.18396431e-01,  2.31471285e-01,  3.19153666e-01, -1.36982784e-01,
        4.21095192e-01,  1.27054915e-01, -2.07736000e-01,  1.40983574e-02,
        3.74856479e-02,  8.72258693e-02, -3.11787963e-01,  3.49509478e-01,
        4.54139039e-02, -2.49198571e-01,  7.65373632e-02,  3.06410976e-02,
       -2.48125747e-01,  6.81116432e-02,  1.82774633e-01,  1.52369738e-01,
        6.23395026e-01,  5.56941271e-01, -2.07493797e-01,  3.13186169e-01,
       -7.70714954e-02, -2.08087906e-01, -1.93849131e-01,  1.77606449e-01,
        1.44936472e-01,  4.41370383e-02, -2.74128348e-01,  4.50384408e-01,
       -4.58179623e-01, -2.05597281e-01, -4.15139169e-01, -2.40350425e-01,
       -1.98034778e-01, -3.15692991e-01, -9.36397612e-02, -3.71872753e-01,
       -4.75211442e-01,  2.17416897e-01,  5.51702641e-02,  2.85715740e-02,
        7.13730752e-01,  3.80022287e-01, -8.96730870e-02,  4.43402320e-01,
        2.31196001e-01,  2.27341369e-01,  1.61891326e-01,  1.51979893e-01,
        2.61041403e-01,  3.35387558e-01,  4.08574380e-02, -3.57571930e-01,
       -4.04620945e-01, -1.51295915e-01,  3.26973379e-01, -2.17698261e-01,
        2.10994974e-01,  5.87819695e-01, -3.31439286e-01,  1.59096211e-01,
        1.51313007e-01, -5.04478037e-01,  2.14787409e-01, -3.08661219e-02,
       -7.91684240e-02, -3.65780175e-01, -4.35749799e-01,  3.81783582e-02,
       -1.98610038e-01, -1.88587233e-02,  2.70931780e-01,  6.09847642e-02,
        4.09090035e-02,  2.11220697e-01,  1.32681262e-02, -4.55453694e-01,
       -6.76094234e-01, -4.60309774e-01,  4.49298844e-02,  1.95027348e-02,
        6.74838498e-02, -5.34099638e-01,  3.57865810e-01,  6.03171408e-01,
       -2.33452544e-01, -1.85714975e-01,  6.75576627e-02,  1.86277539e-01,
        3.47965360e-01,  8.94683525e-02, -4.67593670e-02,  6.05355538e-02,
        1.81919768e-01,  2.57663131e-01,  6.31889045e-01,  1.57739908e-01,
       -1.10144891e-01,  4.66206372e-01,  3.54918480e-01, -4.61853892e-01,
       -7.68698215e-01, -1.56026268e-02,  1.66145548e-01, -6.65470064e-01,
        3.11872870e-01, -1.91870719e-01, -4.33139026e-01,  1.40199348e-01,
       -2.47011594e-02, -1.79015830e-01, -3.83623064e-01,  8.29723477e-02,
       -4.12163943e-01,  9.28580537e-02,  1.26228124e-01, -2.40369976e-01,
        2.15842962e-01, -2.28621941e-02,  4.12418067e-01,  2.78558880e-01,
       -3.94992381e-01, -3.53119045e-01, -2.38684162e-01,  3.59574854e-01,
        3.60310793e-01,  1.58425555e-01, -1.85028195e-01,  2.57342309e-01,
       -3.72456806e-03, -5.00734091e-01,  3.73690389e-02, -2.17372701e-01,
       -6.07287176e-02,  3.08649242e-01,  1.98320791e-01,  1.48407042e-01,
        4.90459681e-01,  5.29628731e-02,  2.10230559e-01, -3.12166870e-01,
        2.18079984e-01, -2.12130621e-01,  3.61951888e-01, -3.01659673e-01,
        3.62024695e-01, -3.71253282e-01, -3.13614577e-01,  1.20191365e-01,
       -1.21589772e-01,  2.54229873e-01,  4.39176895e-02,  1.02720566e-01,
        4.79228705e-01,  3.30439150e-01,  3.05760026e-01,  1.89644724e-01,
       -3.23557377e-01,  5.54707646e-01,  5.71986735e-02, -7.73709342e-02,
        1.22304350e-01,  4.98600543e-01,  3.57142776e-01, -1.84590504e-01,
       -1.61604866e-01, -6.28175354e-03, -1.99189872e-01,  2.11377203e-01,
        1.18087389e-01, -3.30503017e-01, -6.09214082e-02, -6.81050047e-02,
        1.41153246e-01, -6.49204478e-02,  4.18758720e-01, -3.65128875e-01,
       -4.82084900e-02,  2.68420488e-01, -3.38135175e-02,  1.50331467e-01,
        6.23202264e-01, -3.73004586e-01, -4.31490410e-03, -8.65205899e-02,
        1.01165242e-01,  1.57387540e-01, -1.58919796e-01,  5.88029772e-02,
        3.97729576e-02, -2.10675955e-01,  4.03624624e-01,  3.31776217e-02,
        3.31894902e-04, -2.60085817e-02,  9.60546061e-02,  3.71608436e-01,
        4.10903841e-02, -3.25461775e-01,  1.15681812e-01,  2.22174406e-01,
       -2.37605721e-01, -4.20896649e-01,  6.52727067e-01, -1.63816914e-01,
       -1.60980329e-01, -7.68598393e-02, -3.45336348e-01, -2.46620730e-01,
       -2.53144860e-01, -3.68419945e-01,  3.23030412e-01, -1.60538346e-01,
       -2.94992566e-01,  1.10086754e-01, -2.46814489e-01, -2.36188173e-01,
       -2.17426300e-01, -1.43689215e-01,  3.66623431e-01,  7.07056895e-02,
       -2.20398560e-01,  3.22229832e-01,  9.49775055e-02,  3.79356980e-01,
        3.52318853e-01, -2.90243417e-01, -2.48718634e-01, -2.65743643e-01,
       -5.64260483e-01,  1.87252924e-01, -9.89255682e-02,  2.80720323e-01,
        2.63496846e-01, -1.91844016e-01, -2.14091793e-01,  3.26692551e-01],
      dtype=float32)

In [21]:
back_to_the_future_vector

array([ 6.43208018e-03, -5.51897334e-03, -9.11962055e-03,  2.50011459e-02,
        2.07378659e-02, -1.09246960e-02,  3.53659107e-03, -1.58608425e-02,
        4.91886958e-02,  2.48959381e-03,  2.00588852e-02, -6.28616707e-03,
       -2.68826503e-02, -1.89378671e-02,  2.79357377e-02, -1.31917074e-02,
       -5.61291818e-05,  2.99522392e-02,  2.60638017e-02,  4.91030179e-02,
        1.20421182e-02,  3.73899750e-02,  2.76722331e-02, -1.87104568e-02,
        7.29099102e-03,  7.38871424e-03, -3.61429304e-02, -2.69225631e-02,
       -1.87227670e-02,  1.52160274e-02,  1.29979458e-02, -2.44875043e-03,
        4.20048945e-02, -3.17162042e-03, -2.76663415e-02, -1.17738172e-02,
       -3.65159102e-02,  1.92302149e-02,  1.74717102e-02,  2.75917281e-03,
       -1.27276359e-03, -3.38894478e-03,  4.39844467e-03,  2.03924309e-02,
        4.29340778e-03, -8.80708569e-04,  5.21259047e-02, -1.93118900e-02,
        2.50788052e-02,  1.61447357e-02, -7.35774729e-03, -1.37471156e-02,
       -7.84220826e-03,  3.36880758e-02, -3.14277224e-02,  3.33245210e-02,
        3.11524402e-02, -3.40066990e-03,  2.82246936e-02,  6.98637962e-03,
       -3.40909846e-02,  6.24655448e-02,  2.77352314e-02, -2.80152056e-02,
        2.10754201e-02, -9.27844550e-03, -3.54948118e-02,  3.67908739e-03,
        2.97648013e-02, -1.51918381e-02,  3.57494093e-02,  1.69690438e-02,
       -2.23475695e-03, -5.21065015e-03,  6.28238823e-03,  1.74652897e-02,
       -1.34697501e-02,  4.13825214e-02,  4.60056239e-04,  1.34396413e-02,
        2.07697712e-02,  2.06122734e-02,  2.65138573e-03,  3.03897597e-02,
        2.44686641e-02, -5.44922166e-02, -8.75395443e-03, -2.17391793e-02,
       -7.48786563e-03,  2.22558510e-02,  1.08391223e-02,  2.66815182e-02,
       -2.90333200e-02,  5.61514462e-04, -1.73115749e-02, -6.68172352e-03,
       -2.82771583e-03,  2.34887116e-02,  2.48121433e-02, -2.35810205e-02,
       -4.10365127e-02,  1.51589457e-02,  2.64224969e-02,  3.07891648e-02,
        1.28867775e-02, -1.21496813e-02,  4.16725688e-02, -1.40433237e-02,
        3.88320684e-02, -1.81654319e-02, -6.82335719e-03,  3.61664989e-03,
        4.48402986e-02,  2.88624642e-03,  1.00804167e-02, -3.08033843e-02,
       -2.56645828e-02, -2.76473677e-03,  4.38233018e-02,  1.33633465e-02,
        2.66985390e-02,  2.66609546e-02, -2.90186126e-02,  1.86052434e-02,
        1.43234814e-02,  5.85818058e-03,  9.68755502e-03,  7.26976665e-03,
       -6.81206631e-03, -8.93180631e-03, -9.11920704e-03, -2.37951502e-02,
       -3.01090442e-02, -7.22662604e-04,  2.88726576e-03,  3.84518728e-02,
        1.83910970e-02, -4.22635972e-02,  1.37087181e-02, -1.18513750e-02,
       -9.64423083e-03, -1.00899525e-02, -6.49427716e-03,  1.31774498e-02,
        3.43652405e-02, -1.46333193e-02,  3.82793657e-02,  4.27826680e-02,
        2.30809115e-02,  3.34171467e-02,  2.46812068e-02,  4.02141770e-04,
        3.11376825e-02,  3.80031057e-02, -9.23686475e-03, -1.06133232e-02,
        3.60950865e-02,  2.37459615e-02, -9.71906446e-03,  2.32329685e-02,
       -1.34383235e-03, -2.15642713e-02,  2.30983049e-02,  1.85729768e-02,
       -2.84034163e-02, -2.98988284e-03,  1.46323629e-02, -2.66661383e-02,
        2.14912724e-02, -2.07894463e-02, -2.98846532e-02,  4.64378409e-02,
       -3.07694878e-02,  1.44815841e-03, -2.71881837e-03,  1.79673228e-02,
       -1.06478250e-02,  8.70191120e-03,  2.25177370e-02, -1.91379786e-02,
       -9.92887374e-03, -1.49130281e-02,  1.24874599e-02,  3.99677455e-03,
        1.14950072e-03, -8.26940034e-03, -1.82323717e-02, -3.65410419e-03,
       -1.26169585e-02, -1.44057740e-02,  1.21888090e-02, -3.33430022e-02,
        2.29330864e-02, -1.40094655e-02,  1.81262614e-03, -2.72704437e-02,
       -5.39340544e-03,  4.48613726e-02,  1.61413178e-02, -4.30381671e-03,
        2.67046876e-02, -1.88016165e-02, -9.25800111e-03, -2.35632202e-03,
        1.22864516e-02, -9.90672689e-03,  4.63033132e-02,  6.27243705e-03,
        1.65973455e-02,  9.16619040e-03, -2.28422452e-02, -4.16694861e-03,
       -1.63245085e-03,  1.82316285e-02,  1.75896920e-02,  5.67280129e-03,
        2.49871649e-02, -4.10016775e-02,  1.94010732e-03,  2.73171589e-02,
       -7.70847499e-03,  3.94227207e-02, -1.33239282e-02, -1.58442799e-02,
       -7.32316403e-03,  2.96388529e-02,  2.04346832e-02,  3.94614832e-03,
        1.40975472e-02, -1.81071572e-02,  1.71385463e-02,  3.80013436e-02,
        5.47041418e-03, -1.23480810e-02,  1.51380450e-02,  1.42353948e-03,
        3.20390798e-02,  2.15733424e-02,  2.82358974e-02, -2.34609228e-02,
        2.12549791e-02,  8.37170333e-03, -8.13941937e-03,  5.47647290e-02,
        9.45574418e-03,  1.39321201e-02, -1.68566518e-02, -5.59893763e-03,
       -7.43594486e-03, -6.20010728e-03,  1.54918293e-02, -4.14276449e-03,
        1.45425729e-03,  3.90247745e-03,  4.29958813e-02, -2.75711920e-02,
        2.36810148e-02, -2.17297347e-03,  6.60963729e-03,  1.89197995e-02,
        5.23739960e-03,  1.35972891e-02,  1.49352420e-02,  2.97076833e-02,
        1.67401824e-02, -3.50771733e-02,  1.85391475e-02, -1.18151503e-02,
        2.78545520e-03,  3.13066803e-02, -2.41987165e-02,  6.14665030e-03,
        3.05276792e-02,  1.45158730e-02,  2.58153547e-02,  9.40490607e-03,
        4.43220958e-02,  2.01467201e-02, -4.98293154e-03, -3.24011035e-02,
       -9.15831327e-03, -1.20182447e-02, -1.55135868e-02,  1.47024365e-02,
        1.52442884e-02,  3.54970954e-02,  4.58665378e-03,  1.85025949e-02,
        3.57600972e-02, -3.38242436e-03,  1.39890481e-02, -1.51359569e-02,
       -3.31130810e-02, -6.94664777e-06,  3.20111541e-03, -7.22707063e-03,
        1.35866739e-02,  1.69622265e-02, -4.20772359e-02,  4.80941590e-03],
      dtype=float32)

### 모델 평가하기

In [22]:
# myukim과 back_to_the_future를 내적하는 코드
np.dot(myukim_vector, back_to_the_future_vector)

0.8753883

선호도가 높게 나온다. 잘 훈련이 진행되었다는 것을 알 수 있다.

내가 선호했던 다른 영화도 이와 같은 결과를 가지는 지 궁금하다.

In [23]:
# movie_to_idx[1]은 toy story를 뜻한다.
toy_story = movie_to_idx[1]
toy_vector = als_model.item_factors[toy_story]
np.dot(myukim_vector, toy_vector)

0.7698914

토이스토리도 선호도가 높게 잘 나온다는 것을 알 수 있다.

### 비슷한 영화 and 추천 영화

#### 비슷한 영화

In [38]:
similar_movie = als_model.similar_items(back_to_the_future, N=15)
similar_movie

[(22, 1.0),
 (674, 0.34440017),
 (2827, 0.2563451),
 (13, 0.2522063),
 (3543, 0.2487783),
 (2824, 0.24733377),
 (615, 0.2466691),
 (1675, 0.24570818),
 (3370, 0.24502963),
 (3401, 0.24357004),
 (2765, 0.24247044),
 (2875, 0.2399736),
 (3565, 0.23879088),
 (3224, 0.23851028),
 (2714, 0.2381817)]

In [42]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
movie_id=[idx_to_movie[i[0]] for i in similar_movie]
print(movie_id)

[1270, 2011, 1743, 2918, 985, 1496, 2407, 718, 3294, 2743, 3171, 2281, 1316, 2536, 131]

1270은 Back_to_the_Future의 인덱스 번호다. 그래서 비슷한 정도가 1이 나온 것이다.

In [27]:
movies.head(1946)

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
1941,2010,Metropolis (1926),Sci-Fi
1942,2011,Back to the Future Part II (1989),Comedy|Sci-Fi
1943,2012,Back to the Future Part III (1990),Comedy|Sci-Fi|Western
1944,2013,"Poseidon Adventure, The (1972)",Action|Adventure
1945,2014,Freaky Friday (1977),Children's|Comedy

비슷한 영화로 Back_to_the_Future2를 추천해주고 있다.

다음은 추천을 받아보자.

#### 시스템 추천 영화

In [30]:
user = user_to_idx[9999]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(50, 0.28710002),
 (626, 0.22302878),
 (379, 0.21311197),
 (799, 0.20614022),
 (255, 0.20443882),
 (674, 0.18801814),
 (114, 0.17398337),
 (340, 0.17279443),
 (85, 0.17208341),
 (904, 0.17175482),
 (146, 0.16201994),
 (174, 0.15749191),
 (851, 0.1559447),
 (129, 0.15075892),
 (126, 0.15023936),
 (96, 0.1468999),
 (613, 0.14576909),
 (548, 0.14548454),
 (474, 0.1452814),
 (411, 0.14449377)]

similar 보다 더 유사도가 생각보다 낮게 나온다.

In [31]:
#원래 index로 바꿔주기
[idx_to_movie[i[0]] for i in movie_recommended]

[3114,
 2424,
 3256,
 2724,
 1923,
 2011,
 2353,
 1569,
 3255,
 1206,
 3418,
 2167,
 2761,
 1597,
 2396,
 1945,
 357,
 1282,
 3751,
 454]

In [32]:
# 첫번째로 추천해 준 영화
movies.head(3050)

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3045,3114,Toy Story 2 (1999),Animation|Children's|Comedy
3046,3115,Flawless (1999),Drama
3047,3116,Miss Julie (1999),Drama
3048,3117,Ride with the Devil (1999),Drama|Romance|War
3049,3118,Tumbleweeds (1999),Drama

Toy Story2를 추천해주고 있다. 그렇다면, 어떠한 영화가 이와 같이 추천을 해줬을까?

In [33]:
Toy_story2 = movie_to_idx[3114]
explain = als_model.explain(user, csr_data, itemid=Toy_story2)

In [34]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[(1, 0.2584576048238112),
 (2671, 0.04674459129541232),
 (2058, 0.032664709614228335),
 (1270, 0.008281030502850104),
 (3404, -0.06168166799561124)]

전작품인 Toy Story1이 영향을 많이 주고 있다.

In [47]:
#두번째로 추천해준 영화
movies.head(2360)

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
2355,2424,You've Got Mail (1998),Comedy|Romance
2356,2425,"General, The (1998)",Crime
2357,2426,"Theory of Flight, The (1998)",Comedy|Drama|Romance
2358,2427,"Thin Red Line, The (1998)",Action|Drama|War
2359,2428,"Faculty, The (1998)",Horror|Sci-Fi

In [49]:
YGM = movie_to_idx[2424]
explain = als_model.explain(user, csr_data, itemid=YGM)
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[(2671, 0.12596894602648695),
 (1270, 0.038445033868334824),
 (1, 0.030548215864230795),
 (2058, 0.023823080852747355),
 (3404, 0.002481863563968331)]

2671은 노팅힐의 인덱스 번호다. 노팅힐의 장르는 로맨틱 코미디이다. 이와 동일한 장르로서, 'You've Got Mail (1998)' 영화를 추천했다고 추측된다.

### 회고

날이 갈 수록 프로젝트는 어렵지만, 재미는 배가 되는 거 같다. 비록, 모든 것이 찍먹인 단계이지만 구현해낼 수 있다는 거에 의미를 두고 싶다. 고통은 당연 뒤따라 오고 있다. 하지만, 고통 뒤에 성장도 꼭 같이 오고 있다고 믿고 있다.


아쉬운 점

1. matrix를 좀 더 공부해야겠다.